.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &__icon {
      width: 19px;
      height: 19px;
    }

    &__text {
      color: #9ca3ad;
      padding: 5px 10px;
      font-weight: bold;
    }

    &--active {
      .wrapper__link__icon path {
        fill: #000;
      }

      .wrapper__link__text {
        color: #000;
      }
    }
  }
}
