nav {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &__icon {
      width: 19px;
      height: 19px;
    }

    &__text {
      color: #9ca3ad;
      padding: 5px 10px;
      font-weight: bold;
    }

    &--active {
      .link__icon path {
        fill: #000;
      }

      .link__text {
        color: #000;
      }
    }
  }
}

@media all and (min-width: 1000px) {
  .link {
    transform: scale(1.3);
  }
}
