.search {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  &__input {
    background: transparent;
    padding: 10px;
    font-size: 1rem;
    border: 0 none;
    border-bottom: 2px solid #000;
    width: 60vw;
    max-width: 400px;
    outline: 0 none;
    margin-right: 20px;

    &:focus {
      box-shadow: 0 3px 3px -1px gray;
      transition: 0.3s;
    }
  }

  &__btn {
    cursor: pointer;
    padding: 8px;
    border: 0 none;
    font-weight: bold;
    font-size: 1.3em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      opacity: 0.5;
      transition: opacity 0.2s;
    }

    svg {
      width: 27px;
      height: 27px;
    }
  }
}
