@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");
@import "./assets/styles/Navbar";
@import "./assets/styles/Search";
@import "./assets/styles/Loader";
@import "./assets/styles/Home";
@import "./assets/styles/Daily";

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

* {
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hourly__navbar__item--active {
  font-weight: bold;
}

button:focus {
  outline: 1px solid #000;
}
#root::after {
  z-index: -5;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 90vh solid #ebedf1;
  border-right: 100vw solid transparent;
  top: 0;
  left: 0;
}

.error__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  &__text {
    width: 80%;
    max-width: 500px;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;

    .not-found {
      color: #2e5fe6;
    }

    .error {
      color: #d11d22;
    }
  }
}

.sr-only {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

@media all and (min-width: 1000px) {
  .error__text {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
