@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");
@import "./assets/styles/Navbar";
@import "./assets/styles/Search";
@import "./assets/styles/Home";
@import "./assets/styles/Daily";

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hourly__navbar__item--active {
  font-weight: bold;
}

button:focus {
  outline: 1px solid #000;
}

#root::after {
  z-index: -5;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 90vh solid #ebedf1;
  border-right: 100vw solid transparent;
  top: 0;
}
