.daily__main-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;

  &__title {
    font-size: 1.5rem;
    padding: 0 30px;
  }

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    place-items: center;
    padding: 0 10px;

    .day-name {
      justify-self: start;
      font-weight: bold;
      font-size: 1.3rem;
      padding-left: 10px;
    }
    .icon {
      width: 65px;
      height: 65px;
    }

    .temp {
      font-size: 1.3em;
      justify-self: end;
      padding-right: 10px;

      &__max {
        color: #d11d22;
        padding: 0 4px;
      }

      &__min {
        color: #2e5fe6;
      }
    }
  }

  &__additional {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 30px;
    padding: 20px 25px;

    .item {
      display: flex;
      justify-content: space-between;

      &__label {
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
}
